<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="container mt-5">

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1 class="mx-auto">New Receipe</h1>
      <hr>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
        <input type="text" class="form-control" name="receipe_name" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
        <textarea class="form-control" name="receipe_description" required></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
        <input type="file" class="form-control" name="receipe_image" required>
      </div>
      <button type="submit" class="btn btn-success ">Add new receipe</button>
    </form>
    
  </div>
</body>

</html>